.signin_card_div{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom left, hsl(210, 54%, 11%, 0.7), hsl(211, 53%, 11%, 0.7), hsl(211, 53%, 11%, 0.5), hsl(211, 53%, 11%, 0.5),),
              url("../../../public/assets/images/signbg.png")no-repeat center center / cover;

  .inner_card_div{
    
    .sign_card {
      max-height: 800px;
      width: 500px;
      background-color: #ffffff;
      color: black;

      .card_header {
        width: 500px;
        height: 300px;

        h4 {
          color: black;
          text-align: center;
          font-weight: 700;
        }
      }

      .sign_card_body {

        .sign_card_form_group {

          .input-input {
            border: 1px solid #0d1c2b;
            width: 80%;
            margin-right: auto;
            margin-left: auto;

            &:focus {
              box-shadow: none;
              border: 1px solid #0d1c2b;
            }
          }
          .group_input {
            border: 1px solid #0d1c2b;
            border-radius: 5px;
            background-color: #E8F0FE;
            width: 80%;
            margin-right: auto;
            margin-left: auto;
            .input-input1 {
              border: 0px;

              &:focus {
                box-shadow: none;
                border: 0px;
              }
            }
            .close_eye, .open_eye {
              margin: 5px;
            }
          }
        }

        .sign_btn{
          background-color: #E8F0FE;
          color: black;
          margin-right: 45px;
        }

        .google_btn {
          background-color: #E8F0FE;
          color: black;
          font-weight: 600;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 998px) and (max-width: 1199px) {}

