.chat_box {
  width: 100%;
  padding: 20px;
  margin-top: 120px;

  .client {
    background-color: #3b6088;
    width: fit-content;
    padding: 5px;
    border-bottom-right-radius: 20px;
    color: whitesmoke
  }

  .owner {
    background-color: #0d243d;
    width: fit-content;
    padding: 5px;
    border-bottom-left-radius: 20px;
    color: whitesmoke;
    margin-left: auto;
  }
}