.outer_header {
  background-color: #0D1B2A;
  color: white;

  .header_btn {
    transition: 0.3s ease-in-out;
  }

  .pipe {
    margin: 0px 3px;
    font-weight: 700;
  }

  .clear_chat, .logOut {
    cursor: pointer;
  }
}

